@model LaisserUnAvisViewModel
@{
    ViewData["Title"] = "Laisser un avis sur la formation: " + Model.NomFormation;
}

<br />
<div class="mt-4 p-5 bg-primary text-orange text-center bg-black rounded">
    <h2>@Model.NomFormation</h2>
    <h4>Laisser un avis sur la formation</h4>
</div>
<br />

@{  /* Get info from the user */  }
<form action="/Avis/SaveComment" method="post">
    @*@Html.ValidationSummary()*@

    <div class="form-group">
        <label>Nom :</label>
        <input type="text" name="nom" value="@Model.Nom" class="form-control" />
    </div>
    
    <br />
    <p>Merci d'ecrire votre avis ci-dessous : </p>
    <textarea cols="5" name="commentaire" class="form-control">@Model.Commentaire</textarea>
    <br />
    <div>
        <label>Selectionner une note :</label>
        <select name="note" class="form-control">
        <option>1</option>
        <option>1.5</option>
        <option>2</option>
        <option>2.5</option>
        <option>3</option>
        <option>3.5</option>
        <option>4</option>
        <option>4.5</option>
        <option>5</option>
    </select>
    </div>
    
    <br />
    <input type="submit" value="Poster votre avis" class="btn-lg btn-outline-success" />
    <input type="hidden" name="idFormation" value="@Model.IdFormation"/>
    <input type="hidden" name="nomFormation" value="@Model.NomFormation" />
    <br />
    <br />
    <div asp-validation-summary="All" class="widget-bottom text-danger"></div>
</form>