@model DetailFormationViewModel
@{
    ViewData["Title"] = Model.Formation.name;
}

<h1>@Model.Formation.name</h1>
<p>@Model.Formation.Descriotion</p>

<h6>Mark : @Model.NoteMoyenne / 5</h6>
<div>
    @foreach(var avis in Model.Formation.Avis)
{
    <div>
        <h6>@avis.NomUtilisateur</h6>
        <p>@avis.FormationId</p>
        <p>@avis.Commentaire</p>
        <p>@avis.Note</p>
    </div>
}
</div>
