@model List<DetailFormationViewModel>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Toutes les formations";
}

<header class="header mt-3">
    <h1>TOUTES LES FORMATIONS</h1>
</header>
<br />
<br />
<div class="container">
    <div class="row justify-content-center">
        @foreach (var formation in Model)
        {
            <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><a asp-controller="Formation" asp-action="DetailsFormation" asp-route-idFormation="@formation.Formation.Id">@formation.Formation.name</a></h5>
                        <p class="card-text">NomSeo de la formation: @formation.Formation.nameSeo</p>
                        <p class="card-text">Description de la formation: @formation.Formation.Descriotion</p>

                        @if (formation.NoteMoyenne > 0)
                        {
                            <h6 class="card-subtitle mb-2 text-muted">
                                Mark: @formation.NoteMoyenne/5
                                @for (int i = 1; i <= formation.NoteMoyenne; i++)
                                {
                                    <span class="fa fa-star orange"></span>
                                }
                            </h6>
                        }
                        else
                        {
                            <div><h6 class="card-subtitle mb-2 text-muted">Aucun Avis</h6></div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>


