@model List<DetailFormationViewModel>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Toutes les formations";
}

<div class="mt-4 p-5 bg-primary text-orange text-center bg-black rounded">
    <h2>TOUTES LES FORMATIONS</h2>
</div>
<br />
<br />
<div class="section-formations">
    <div class="row text-center justify-content-center">
        @foreach (var formation in Model)
        {
            <div class="formation-block col-sm-6 col-md-3 col-lg-3">
                @*<p>Id de la formation          : @formation.Id</p>*@
                <p><a asp-controller="Formation" asp-action="DetailsFormation" asp-route-idFormation="@formation.Formation.Id">@formation.Formation.name</a></p>
                <p>NomSeo de la formation      : @formation.Formation.nameSeo</p>
                <p>Description de la formation : @formation.Formation.Descriotion</p>

                @if (formation.NoteMoyenne > 0)
                {
                    <h6>
                        Mark : @formation.NoteMoyenne/5
                        @for (int i = 1; i <= formation.NoteMoyenne; i++)
                        {
                            <span class="fa fa-star orange"></span>
                        }
                    </h6>
                }
                else
                {
                    <div><h6>Aucun Avis</h6></div>
                }
            </div>
        }
    </div>
</div>


